<ion-view view-title="content">

    <ion-content class="has-header"  >

        <div class="card item item-text-wrap ">
            <button class="button button-block button-balanced" on-hold="onHold()" >
                ng-hold测试
            </button>
            <button on-hold="onHold()" class="button button-block button-balanced">onHold测试</button>
            <button on-tap="onTap()" class="button button-block button-balanced">onTap测试</button>
            <button on-touch="onTouch()" class="button button-block button-balanced">onTouch测试</button>
            <button on-release="onRelease()" class="button button-block button-balanced">onRelease测试</button>

            <button on-drag="onDrag()" class="button button-block button-balanced">onDrag测试</button>
            <button on-drag-up="onDragUp()" class="button button-block button-balanced">onDragUp测试</button>
            <button on-drag-right="onDragRight()" class="button button-block button-balanced">onDragRight测试</button>
            <button on-drag-down="onDragDown()" class="button button-block button-balanced">onDragDown测试</button>
            <button on-drag-left="onDragLeft()" class="button button-block button-balanced">onDragLeft测试</button>
            <button on-swipe="onSwipe()" class="button button-block button-balanced">onSwipe测试</button>
            <button on-swipe-up="onSwipeUp()" class="button button-block button-balanced">onSwipeUp测试</button>
            <button on-swipe-down="onSwipeDown()" class="button button-block button-balanced">onSwipeDown测试</button>
            <button on-swipe-right="onSwipeRight()" class="button button-block button-balanced">onSwipeRight测试</button>
            <button on-swipe-left="onSwipeLeft()" class="button button-block button-balanced">onSwipeLeft测试</button>

        </div>



    </ion-content>



</ion-view>
